apiVersion: apps/v1
kind: Deployment
metadata:
  name: reservex-deployment
  namespace: default
  labels:
    app: reservex
spec:
  replicas: 2
  selector:
    matchLabels:
      app: reservex
  template:
    metadata:
      labels:
        app: reservex
    spec:
      containers:
      - name: reservex
        image: harshpanchal04/reservex:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8501
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
