apiVersion: v1
kind: Service
metadata:
  name: reservex-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: reservex
  ports:
  - protocol: TCP
    port: 8501
    targetPort: 8501
    nodePort: 30001
